<div Style="margin-top:50px">
    Filled with Sizing.Fixed (default)
    <MudTextField T="string" Label="example" Variant="Variant.Filled" Sizing="InputSizing.Fixed" />
</div>

<div Style="margin-top:50px">
    Filled with Sizing.Auto
    <MudTextField T="string" Label="example" Variant="Variant.Filled" Sizing="InputSizing.Auto" />
</div>

<div Style="margin-top:50px">
    Filled, Dense with Sizing.Fixed (default)
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Filled" Sizing="InputSizing.Fixed" />
</div>

<div Style="margin-top:50px">
    Filled, Dense with Sizing.Auto
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Filled" Sizing="InputSizing.Auto" />
</div>

<div Style="margin-top:50px">
    Sizing.Auto with MaxLines test
    <MudTextField T="string" MaxLines="5" Label="example" Variant="Variant.Filled" Sizing="InputSizing.Auto" />
</div>

<div Style="margin-top:50px">
    Outlined with Sizing.Fixed (default)
    <MudTextField T="string" Label="example" Variant="Variant.Outlined" Sizing="InputSizing.Fixed" />
</div>

<div Style="margin-top:50px">
    Outlined with Sizing.Auto
    <MudTextField T="string" Label="example" Variant="Variant.Outlined" Sizing="InputSizing.Auto" />
</div>

<div Style="margin-top:50px">
    Outlined, Dense with Sizing.Fixed
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Outlined" Sizing="InputSizing.Fixed" />
</div>

<div Style="margin-top:50px">
    Outlined, Dense with Sizing.Auto
    <MudTextField T="string" Label="example" Margin="Margin.Dense" Variant="Variant.Outlined" Sizing="InputSizing.Auto" />
</div>
